.btn {
    margin-top: 11px;
    width: 100px;
    border-radius: 15px;
    background-color: rgba(0, 0, 255, 0.219);
    color: rgb(0, 0, 0);
    height: 30px;
    border: 1px solid transparent;
    margin-left: 15px;

  }

  