.btn {
    margin-top: 20px;
    width: 100px;
    border-radius: 15px;
    background-color: rgba(0, 0, 255, 0.219);
    color: rgb(0, 0, 0);
    padding: 5px;
    border: 1px solid transparent;
    
  }

  