.input {
    margin-left: 10px;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .name-input {
    margin-left: 26px;
  }
  .number-input {
    margin-left: 10px;
  }
  button {
    margin-top: 10px;
    margin-left: 100px;
    width: 100px;
  }